<div class="popup-toast" *ngIf="isSucces || isError">
  <div class="card-toast" *ngIf="isSucces">
    <div class="cd-type succes">
      <img src="assets/icon/toast/success.png" alt="">
    </div>
    <div class="right-part">
      <span class="text-type txt-succes">Succès</span>
      <span>{{text}}</span>
    </div>
  </div>

  <div class="card-toast" *ngIf="isError">
    <div class="cd-type error">
      <img src="assets/icon/toast/error.png" alt="">
    </div>
    <div class="right-part">
      <span class="text-type txt-error">Erreur</span>
      <span>{{text}}</span>
    </div>
  </div>
</div>
