.th-descriptif{
  width: calc(100% / 4) !important;
}

.th-icon{
  width: 5% !important;
}


.icon-toggle{
  cursor: pointer;
}


.grised{
  opacity: 0.2;
  cursor: auto !important;
}

.td-grise:hover{
  font-weight: 400 !important;
  cursor: auto !important;
}
