<div [class]="theme.bgImage+' page'">
  <div class="loader" *ngIf="isLoading">
    <span>Chargement</span>
    <span class="dot">.</span>
    <span class="dot">.</span>
    <span class="dot">.</span>
  </div>
  <div [class]="theme.borderColor+' form-idn'" *ngIf="!isLoading">
    <img src="assets/images/horse.png" alt="horse" class="icon-logo">
    <div class="part-title">
      <span class="title">Identification</span>
      <span class="sub-title">Veuillez renseigner vos informations</span>
    </div>
    <div class="form-group">
      <div  [class.actived]="isInputFocused" class="labels">Votre identifiant</div>
      <input [(ngModel)]="email" #input1 (focus)="onInputFocus('input1')" (blur)="onInputBlur(input1)" type="text">
    </div>
    <button (click)="login()" [class]="theme.bgColor+' btn'">M'identifier</button>
    <div class="info-bottom">
      <span>Pas encore de compte?</span>
      <span routerLink="/inscription" class="link-text">Créer mon compte</span>
    </div>
  </div>
</div>
